@import './breakpoints.scss';
@import './mixin.scss';

.footer {
	background-color: var(--dark-gray);
	padding: 6rem 0;
	position: relative;

	& .ring {
		position: absolute;
		top: 51%;
		left: -60%;

		@include mq(md) {
			top: 65%;
			left: -48%;
		}

		@include mq(lg) {
			top: 48%;
			left: -30%;
		}

		@include mq(xl) {
			left: -14%;
		}
	}

	@include mq(lg) {
		padding: 8.4rem 0 9.2rem;
	}

	.container {
		margin: 0 auto;
	}
}